* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    font-size: medium;
  }


header{
    background-image: url(img/header2.png);
    background-size: cover;
    align-items: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 240px;
    margin-bottom: 40px;
    border-end-end-radius: 120px;
}
.title{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
 
}
body{
    min-height: 100vh;
 background-color: rgb(255, 255, 255);   
}

/* Cards */

.cards{
    display: grid;
    justify-content: space-around;
    grid-gap: 5%;
    
}

/* Card */

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: .5em rgb(177, 192, 45) solid;
    width: 40vw;
}

/* Perfil (nome e foto) */

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1em;
    gap: 1em;
    border-right: .5em #b1c02d solid;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(img/cardpf.jpeg);
}

.txtCard{
    text-align: center;
    font-size: 30px;
}

/* Sobre mim (descrição e ícones) */

.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 2em;
    height: 100%;   
}

.redes-sociais{
    align-items: end;
}

.descricao{
    font-size: 1.5em;
    text-align: justify;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% ;
    font-size: 20px;
    gap: 5%;
    height: 100%;   
    
}
  

